flow.json
[
    {
        "id": "755e7fce9de6d2ee",
        "type": "tab",
        "label": "Flow 1tmp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa2c9998251120d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c438ac302aea20f",
        "type": "tab",
        "label": "Prix ticket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "519fe3bfa0f9c4d6",
        "type": "tab",
        "label": "Trajet Transport",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8f20bbce7f040f7",
        "type": "tab",
        "label": "Nombre arret",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79dedaa104b8a461",
        "type": "tab",
        "label": "Direction",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "048311bebe6e223a",
        "type": "tab",
        "label": "Prochain bus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ddb5e4c206db281",
        "type": "tab",
        "label": "Defibrilateur",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab443a039cdf1926",
        "type": "tab",
        "label": "interfaceGraphique",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da93fe22a4429449",
        "type": "tab",
        "label": "bouton",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4d9ba972926275f",
        "type": "tab",
        "label": "old",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e150ca287dec739",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87fb38d3b12f7fd7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dc33db351c964072",
        "type": "sqlitedb",
        "db": "/home/inno/Bureau/nodeOpenData/sqlgtfs.db",
        "mode": "RO"
    },
    {
        "id": "380e2917cce3c84b",
        "type": "websocket-listener",
        "path": "192.168.10.12:8000",
        "wholemsg": "false"
    },
    {
        "id": "1ff5f88ca1d403b7",
        "type": "websocket-client",
        "path": "ws://192.168.10.12:8000",
        "tls": "",
        "wholemsg": "false",
        "hb": "0"
    },
    {
        "id": "83fed008d1f691a4",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "79fb63e954284bda",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ac68d14afb921548",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "boutonAppui",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "ca0458169651da85"
            ]
        ]
    },
    {
        "id": "ca0458169651da85",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "5480f42ba0908d78"
        ],
        "x": 295,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7c196c2737d540d",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "Quel est le prix d'un ticket",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Quel est le prix d'un ticket",
        "payload": "Quel est le prix d'un ticket ?",
        "payloadType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "6fedd96774fc6be3",
                "a98c45942d3bede9"
            ]
        ]
    },
    {
        "id": "6fedd96774fc6be3",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 395,
        "y": 200,
        "wires": []
    },
    {
        "id": "265c47c1c42d6cf8",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "resetView",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "6d95b43953434ab8"
            ]
        ]
    },
    {
        "id": "6d95b43953434ab8",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "4094d4a5689a30f6"
        ],
        "x": 295,
        "y": 80,
        "wires": []
    },
    {
        "id": "a98c45942d3bede9",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "prix",
        "func": "msg.payload={hypotheses:[{items:[{name:\"\"}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"PRIX\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "213bf158c3cf0838",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "88ef39a7afda91ac"
        ],
        "x": 1055,
        "y": 480,
        "wires": []
    },
    {
        "id": "b81cc92e90dd4ccc",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "TRAJET_TRANSPORT",
        "func": "let data=msg.payload;\nmsg.payload={hypotheses:[{items:[{name:\"\",items:[{orthography:data}]}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"TRAJET_TRANS{PORT\";\nmsg.payload.hypotheses[0].items[0].items}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "3c49492f004306f8",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "NBARRETS",
        "func": "msg.payload={hypotheses:[{items:[{name:\"\"}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"NBARRETS\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "39eca6426dca2e13",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "DIRECTION",
        "func": "msg.payload={hypotheses:[{items:[{name:\"\"}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"DIRECTION\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "de2428d8dc8976f5",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "NEXTBUS",
        "func": "msg.payload={hypotheses:[{items:[{name:\"\"}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"NEXTBUS\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "16699e8cadb69462",
        "type": "function",
        "z": "755e7fce9de6d2ee",
        "name": "DEFIBRILATEUR",
        "func": "msg.payload={hypotheses:[{items:[{name:\"\"}]}]};\nmsg.payload.hypotheses[0].items[0].name=\"DEFIBRILATEUR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 720,
        "wires": [
            [
                "7c0589f338df76f2"
            ]
        ]
    },
    {
        "id": "84e561a87c50da27",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "Comment me rendre à hotel de ville",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Comment me rendre à hotel de ville ?",
        "payloadType": "str",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "d6f8a53b2862f135",
                "b81cc92e90dd4ccc"
            ]
        ]
    },
    {
        "id": "d6f8a53b2862f135",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 415,
        "y": 340,
        "wires": []
    },
    {
        "id": "7dcd4d0883cc4ddf",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "combien d'arrets j'usqu' à hotel de ville",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "combien d'arrets j'usqu' à hotel de ville ?",
        "payloadType": "str",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "4bdf019686496f77",
                "3c49492f004306f8"
            ]
        ]
    },
    {
        "id": "4bdf019686496f77",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 435,
        "y": 420,
        "wires": []
    },
    {
        "id": "edaaadfdc492404c",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "Dans quel direction va le bus C1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Dans quel direction va le bus C1 ?",
        "payloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "523b13a7db4ddc42",
                "39eca6426dca2e13"
            ]
        ]
    },
    {
        "id": "523b13a7db4ddc42",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 385,
        "y": 500,
        "wires": []
    },
    {
        "id": "98ac8f8e4ad1d828",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "quand arrive le prochain bus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "quand arrive le prochain bus ?",
        "payloadType": "str",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "6a76f882808a5b62",
                "de2428d8dc8976f5"
            ]
        ]
    },
    {
        "id": "6a76f882808a5b62",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 385,
        "y": 580,
        "wires": []
    },
    {
        "id": "e03e53b1c5f2baab",
        "type": "inject",
        "z": "755e7fce9de6d2ee",
        "name": "où trouver un defibrillateur",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ou trouver un défibrilateur ?",
        "payloadType": "str",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "c70a44a241d273d3",
                "16699e8cadb69462"
            ]
        ]
    },
    {
        "id": "c70a44a241d273d3",
        "type": "link out",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 385,
        "y": 680,
        "wires": []
    },
    {
        "id": "7c0589f338df76f2",
        "type": "delay",
        "z": "755e7fce9de6d2ee",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 480,
        "wires": [
            [
                "213bf158c3cf0838"
            ]
        ]
    },
    {
        "id": "3dfc597eb669681c",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bonjour",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "486ba9738da530b6"
            ]
        ]
    },
    {
        "id": "881bc1bed4b77bdd",
        "type": "mqtt in",
        "z": "fa2c9998251120d1",
        "name": "",
        "topic": "BorneEvent",
        "qos": "2",
        "datatype": "auto",
        "broker": "87fb38d3b12f7fd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "8f0ba658f0135405"
            ]
        ]
    },
    {
        "id": "8f0ba658f0135405",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "486ba9738da530b6",
        "type": "mqtt out",
        "z": "fa2c9998251120d1",
        "name": "",
        "topic": "synthetizeMessage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "87fb38d3b12f7fd7",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "01e4850feec953eb",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "startreco",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "3ca859ab2f3005b5"
            ]
        ]
    },
    {
        "id": "a728307c3ac15c1f",
        "type": "mqtt out",
        "z": "fa2c9998251120d1",
        "name": "",
        "topic": "BorneControl",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "87fb38d3b12f7fd7",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "be295aa60fd1562e",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stopreco",
        "payloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "72ad19dcdba9b6c3"
            ]
        ]
    },
    {
        "id": "0942f0b96748a651",
        "type": "mqtt in",
        "z": "fa2c9998251120d1",
        "name": "",
        "topic": "BorneResult",
        "qos": "2",
        "datatype": "auto",
        "broker": "87fb38d3b12f7fd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "3868a88ec19d5586",
                "eebf09bec4148cfc"
            ]
        ]
    },
    {
        "id": "4ec8df55048bfad3",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 990,
        "y": 40,
        "wires": [
            [
                "218cea6d79080785"
            ]
        ]
    },
    {
        "id": "218cea6d79080785",
        "type": "mqtt out",
        "z": "fa2c9998251120d1",
        "name": "",
        "topic": "stopApp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "87fb38d3b12f7fd7",
        "x": 1180,
        "y": 40,
        "wires": []
    },
    {
        "id": "3868a88ec19d5586",
        "type": "json",
        "z": "fa2c9998251120d1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "75213766363f0534",
                "9eccf61e1ab6c8c8",
                "4693ddbe51d21b82",
                "ac9e0ad2de382d34"
            ]
        ]
    },
    {
        "id": "75213766363f0534",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "9eccf61e1ab6c8c8",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "9efe2b8dc16c0a53"
        ],
        "x": 415,
        "y": 600,
        "wires": []
    },
    {
        "id": "9efe2b8dc16c0a53",
        "type": "link in",
        "z": "fa2c9998251120d1",
        "name": "",
        "links": [
            "9eccf61e1ab6c8c8"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "72ad19dcdba9b6c3"
            ]
        ]
    },
    {
        "id": "3ca859ab2f3005b5",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "startreco",
        "func": "msg.payload=\"startreco\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "a728307c3ac15c1f",
                "d90f39e93d146b9a"
            ]
        ]
    },
    {
        "id": "72ad19dcdba9b6c3",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "stopreco",
        "func": "msg.payload=\"stopreco\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "a728307c3ac15c1f"
            ]
        ]
    },
    {
        "id": "32bfb266a1ee40fe",
        "type": "http request",
        "z": "fa2c9998251120d1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 670,
        "y": 720,
        "wires": [
            [
                "e550e9fdc2045de8"
            ]
        ]
    },
    {
        "id": "5d545f3c23d89570",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "recupr horaire temps reel",
        "func": "\nlet arret=msg.payload.idBus;\n\n//let url=\"https://data.mobilites-m.fr/api/routers/default/index/stops/SEM:\"+arret+\"/stoptimes\"\nlet url=\"https://data.mobilites-m.fr/api/routers/default/index/clusters/SEM:GENGARES/stoptimes?route=SEM:26\"\n\nmsg.url=url;\nmsg.headers={\n\t\torigin: 'tpsreelGrenoble'\n\t};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 720,
        "wires": [
            [
                "32bfb266a1ee40fe"
            ]
        ]
    },
    {
        "id": "b5fecc11f96b745e",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "08fd91db9782eccd",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"idBus\":\"0893\"}",
        "payloadType": "json",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "5d545f3c23d89570"
            ]
        ]
    },
    {
        "id": "e550e9fdc2045de8",
        "type": "json",
        "z": "fa2c9998251120d1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 720,
        "wires": [
            [
                "b5fecc11f96b745e"
            ]
        ]
    },
    {
        "id": "d24186cffce08a48",
        "type": "switch",
        "z": "fa2c9998251120d1",
        "name": "",
        "property": "sttItemName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "PRIX",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TRAJET_TRANSPORT",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NBARRETS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DIRECTION",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NEXTBUS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DEFIBRILATEUR",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "815a2a645fb72034"
            ],
            [
                "9bb27f2d47c78c3f"
            ],
            [
                "ac7ac0e65c9a936a"
            ],
            [
                "e696f0ee844bfa90"
            ],
            [
                "e7e8ae5ab3a6db30"
            ],
            [
                "6895304e030b0bcd"
            ]
        ]
    },
    {
        "id": "815a2a645fb72034",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "Prix",
        "links": [
            "f07399c04538d217"
        ],
        "timeout": "30",
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "e1dcea6e9a88151c",
                "26e79a99900e1edd"
            ]
        ]
    },
    {
        "id": "e1dcea6e9a88151c",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 420,
        "wires": []
    },
    {
        "id": "f973e2dbbefd369a",
        "type": "link in",
        "z": "fa2c9998251120d1",
        "name": "TTS",
        "links": [
            "13f532013811d581"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "486ba9738da530b6"
            ]
        ]
    },
    {
        "id": "26e79a99900e1edd",
        "type": "change",
        "z": "fa2c9998251120d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 520,
        "wires": [
            [
                "13f532013811d581",
                "efe72993b496cfd5"
            ]
        ]
    },
    {
        "id": "13f532013811d581",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "f973e2dbbefd369a"
        ],
        "x": 1755,
        "y": 540,
        "wires": []
    },
    {
        "id": "9bb27f2d47c78c3f",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "Trajet Transport",
        "links": [
            "ba880050917a1151"
        ],
        "timeout": "30",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "26e79a99900e1edd",
                "e1dcea6e9a88151c"
            ]
        ]
    },
    {
        "id": "871258095f94b0d9",
        "type": "json",
        "z": "fa2c9998251120d1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "a975b387be21ee11",
                "3e4500674b766c3e"
            ]
        ]
    },
    {
        "id": "38793434eb721064",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "5de85e8eccf04a72"
            ]
        ]
    },
    {
        "id": "5de85e8eccf04a72",
        "type": "file in",
        "z": "fa2c9998251120d1",
        "name": "",
        "filename": "/home/inno/.node-red/data/stops.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "871258095f94b0d9"
            ]
        ]
    },
    {
        "id": "c811d0cdcc92e6c1",
        "type": "change",
        "z": "fa2c9998251120d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stops",
                "pt": "global",
                "to": "stops",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a975b387be21ee11",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 840,
        "wires": []
    },
    {
        "id": "3e4500674b766c3e",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "",
        "func": "stops = {}\nlistName4VDK = \"\"\n\nmsg.payload[0].rows.forEach(function(element) {\n    stops[element[0]] = {'name':element[1], 'lat':element[2], 'lon':element[3]}\n    \n    listName4VDK = listName4VDK + element[1].split(',')[1].trim().toLowerCase() + \" | \"\n})\n\nlistName4VDK = listName4VDK.trim().slice(0, -1)\n// remove ':' for VDK grammar\nlistName4VDK = listName4VDK.replaceAll(':','')\n\nmsg.stops = stops\nmsg.listName4VDK = listName4VDK\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 880,
        "wires": [
            [
                "c811d0cdcc92e6c1",
                "468a2de355e3e576",
                "a6437d53a3fa24d0"
            ]
        ]
    },
    {
        "id": "ac7ac0e65c9a936a",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "Nombre arret",
        "links": [
            "12e9048d1def56fe"
        ],
        "timeout": "30",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "26e79a99900e1edd",
                "e1dcea6e9a88151c"
            ]
        ]
    },
    {
        "id": "8ad40dbc29e36ed8",
        "type": "comment",
        "z": "fa2c9998251120d1",
        "name": "Liste des arrets avec coordonnées GPS",
        "info": "",
        "x": 210,
        "y": 840,
        "wires": []
    },
    {
        "id": "d65db838024e2b35",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "a5404e1fc22ea504"
            ]
        ]
    },
    {
        "id": "a5404e1fc22ea504",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "Arret de départ",
        "func": "\n\ndepart = \"GARES\" // Grenoble, Gares\nstops = global.get('stops')\nvar keys = Object.keys(stops);\nfor (var i = 0; i < keys.length; i++) {\n    if(keys[i].indexOf(depart)>=0) {\n        destination = stops[keys[i]]\n        break\n    }\n  \n}\n\n// verrue pour depart abri gares avec ligne C1 = 45.19149,5.71514\ndestination.lat = \"45.19149\"\ndestination.lon = \"5.71514\"\ndestination.name = \"Grenoble, Gares\"\n\n\nmsg.payload = {}\nmsg.payload.lat = destination.lat\nmsg.payload.lon = destination.lon\nmsg.payload.name = destination.name\nmsg.payload.stopId = \"0893\"\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 980,
        "wires": [
            [
                "950688744888dbe4"
            ]
        ]
    },
    {
        "id": "950688744888dbe4",
        "type": "change",
        "z": "fa2c9998251120d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "depart",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f949c27283163299",
        "type": "comment",
        "z": "fa2c9998251120d1",
        "name": "Arret de départ",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "e696f0ee844bfa90",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "",
        "links": [
            "195ec5dd475f464d"
        ],
        "timeout": "30",
        "x": 1060,
        "y": 540,
        "wires": [
            [
                "e1dcea6e9a88151c",
                "26e79a99900e1edd"
            ]
        ]
    },
    {
        "id": "468a2de355e3e576",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "listName4VDK",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 940,
        "wires": []
    },
    {
        "id": "b26732de5dc4fffb",
        "type": "file",
        "z": "fa2c9998251120d1",
        "name": "",
        "filename": "/home/inno/.node-red/data/listName4VDK.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1350,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a6437d53a3fa24d0",
        "type": "change",
        "z": "fa2c9998251120d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "listName4VDK",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "b26732de5dc4fffb"
            ]
        ]
    },
    {
        "id": "4693ddbe51d21b82",
        "type": "change",
        "z": "fa2c9998251120d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sttItemName",
                "pt": "msg",
                "to": "payload.hypotheses[0].items[0].name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "d24186cffce08a48"
            ]
        ]
    },
    {
        "id": "e7e8ae5ab3a6db30",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "",
        "links": [
            "5850b80836ebf364"
        ],
        "timeout": "30",
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "e1dcea6e9a88151c",
                "26e79a99900e1edd"
            ]
        ]
    },
    {
        "id": "79675449a378e550",
        "type": "comment",
        "z": "fa2c9998251120d1",
        "name": "TODO",
        "info": "Qaund on demande le prochain sans spécifié de bus creer la réponse",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "d90f39e93d146b9a",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "CHEN_ON!",
        "func": "msg.payload=\"CHEN_ON!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "dc7cbd7fdd5bbf11"
            ]
        ]
    },
    {
        "id": "eebf09bec4148cfc",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "CHEN_OFF!",
        "func": "msg.payload=\"CHEN_OFF!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "fef4a3da1ac9f213"
            ]
        ]
    },
    {
        "id": "dc7cbd7fdd5bbf11",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "a4b14d6817ce653c",
            "371a5b816644cda1"
        ],
        "x": 635,
        "y": 240,
        "wires": []
    },
    {
        "id": "fef4a3da1ac9f213",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "a4b14d6817ce653c",
            "371a5b816644cda1"
        ],
        "x": 455,
        "y": 400,
        "wires": []
    },
    {
        "id": "07bdae92d5dbeaab",
        "type": "inject",
        "z": "fa2c9998251120d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "le prochain bus C1 arrive dans 5 minutes",
        "payloadType": "str",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "486ba9738da530b6"
            ]
        ]
    },
    {
        "id": "1bad072cfd7a6511",
        "type": "link in",
        "z": "fa2c9998251120d1",
        "name": "startRecoVocal",
        "links": [
            "6420379de2c54850"
        ],
        "x": 245,
        "y": 220,
        "wires": [
            [
                "3ca859ab2f3005b5"
            ]
        ]
    },
    {
        "id": "124a60272946421a",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "8e217170ba11d68a"
        ],
        "x": 815,
        "y": 360,
        "wires": []
    },
    {
        "id": "ac9e0ad2de382d34",
        "type": "function",
        "z": "fa2c9998251120d1",
        "name": "",
        "func": "let mess=msg.payload.hypotheses[0];\nvar phrase=\"\";\nfunction recursiveItems(list){\n    var text=\"\";\n    if('items' in list){\n        for( let j=0;j<list.items.length;j++){\n            text+=\" \"+recursiveItems(list.items[j]);\n        }\n    }else{\n        text=list.orthography;\n    }\n    return text;\n    \n}\nphrase=recursiveItems(mess);\nmsg.payload=phrase.trim().charAt(0).toUpperCase() + phrase.trim().slice(1)+\" ?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "124a60272946421a",
                "f29106d0ce945523"
            ]
        ]
    },
    {
        "id": "f29106d0ce945523",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "efe72993b496cfd5",
        "type": "switch",
        "z": "fa2c9998251120d1",
        "name": "",
        "property": "sttItemName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "PRIX",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TRAJET_TRANSPORT",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NBARRETS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DIRECTION",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NEXTBUS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DEFIBRILATEUR",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1690,
        "y": 400,
        "wires": [
            [],
            [
                "e9ef2f1bf03f63fc"
            ],
            [
                "e9ef2f1bf03f63fc"
            ],
            [
                "e9ef2f1bf03f63fc"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9ef2f1bf03f63fc",
        "type": "link out",
        "z": "fa2c9998251120d1",
        "name": "",
        "mode": "link",
        "links": [
            "f652ca205e6eb293"
        ],
        "x": 1855,
        "y": 400,
        "wires": []
    },
    {
        "id": "88ef39a7afda91ac",
        "type": "link in",
        "z": "fa2c9998251120d1",
        "name": "phrase",
        "links": [
            "213bf158c3cf0838"
        ],
        "x": 715,
        "y": 540,
        "wires": [
            [
                "d24186cffce08a48",
                "ee3a9daf1044cdbf"
            ]
        ]
    },
    {
        "id": "6895304e030b0bcd",
        "type": "link call",
        "z": "fa2c9998251120d1",
        "name": "",
        "links": [
            "468cdf07f1874e01"
        ],
        "timeout": "30",
        "x": 1080,
        "y": 620,
        "wires": [
            [
                "e1dcea6e9a88151c",
                "26e79a99900e1edd"
            ]
        ]
    },
    {
        "id": "ee3a9daf1044cdbf",
        "type": "debug",
        "z": "fa2c9998251120d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "8dbf646a20b1d1b8",
        "type": "sqlite",
        "z": "1c438ac302aea20f",
        "mydb": "dc33db351c964072",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM fare_attributes",
        "name": "obtenir prix d'un ticket",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "bdc8a69798dda420"
            ]
        ]
    },
    {
        "id": "0592682b6fb37e42",
        "type": "inject",
        "z": "1c438ac302aea20f",
        "name": "prix ticket",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{  }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prix ticket",
        "payloadType": "str",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "8dbf646a20b1d1b8"
            ]
        ]
    },
    {
        "id": "49161ca3b6cbb6e7",
        "type": "debug",
        "z": "1c438ac302aea20f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "f07399c04538d217",
        "type": "link in",
        "z": "1c438ac302aea20f",
        "name": "Tab PRIX",
        "links": [
            "fca0588ac9c9838d"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "3b4ce71764277b2b"
            ]
        ]
    },
    {
        "id": "d678a9cc2e1ec5c8",
        "type": "link out",
        "z": "1c438ac302aea20f",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 945,
        "y": 180,
        "wires": []
    },
    {
        "id": "3b4ce71764277b2b",
        "type": "change",
        "z": "1c438ac302aea20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "prix ticket",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "8dbf646a20b1d1b8"
            ]
        ]
    },
    {
        "id": "bdc8a69798dda420",
        "type": "function",
        "z": "1c438ac302aea20f",
        "name": "",
        "func": "msg.payload.requestType = \nmsg.tts = \"Le prix d'un billet est de \"+msg.payload[0].price+\" euros.\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "d678a9cc2e1ec5c8",
                "49161ca3b6cbb6e7"
            ]
        ]
    },
    {
        "id": "ba880050917a1151",
        "type": "link in",
        "z": "519fe3bfa0f9c4d6",
        "name": "Trajet Transport",
        "links": [],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "0e0a083fcc9aabf5",
                "41f0e83f42cf8e94"
            ]
        ]
    },
    {
        "id": "c533c4977909ee20",
        "type": "link out",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1115,
        "y": 340,
        "wires": []
    },
    {
        "id": "9bbb1bb61edf3c4f",
        "type": "debug",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "44a934edc5c24228",
        "type": "http request",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "9bbb1bb61edf3c4f",
                "78adf08474f4699e"
            ]
        ]
    },
    {
        "id": "bb6b7fd3773dec56",
        "type": "function",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "func": "msg.url = \"https://data.mobilites-m.fr/api/routers/default/plan\"\n\npayload = \"routerId=prod&otp=undefined&mode=WALK,TRANSIT&showIntermediateStops=true&minTransferTime=60&transferPenalty=60&numItineraries=2&walkBoardCost=300&\"\n//payload += \"fromPlace=45.19078,5.71554&toPlace=45.18731,5.73714&\"\npayload += \"fromPlace=\"+global.get('depart').lat+\",\"+global.get('depart').lon+\"&toPlace=\"+msg.lat+\",\"+msg.lon+\"&\"\npayload += \"arriveBy=false&locale=fr_FR&walkSpeed=1.1112&walkReluctance=5\"\n//payload += \"time=14%20:%2006&date=2021-11-24&ui_date=mercredi%2024%20novembre%20-%2024/11/2021\"\n\nmsg.url = msg.url +\"?\"+payload\n\n//msg.payload = payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "44a934edc5c24228"
            ]
        ]
    },
    {
        "id": "0e0a083fcc9aabf5",
        "type": "function",
        "z": "519fe3bfa0f9c4d6",
        "name": "Extract destination",
        "func": "items_size = msg.payload.hypotheses[0].items[0].items.length\nlast_item = msg.payload.hypotheses[0].items[0].items[items_size-1]\n\n\ndestination = \"\"\nif(last_item.hasOwnProperty(\"items\") && last_item.items.length>0) {\n\n    last_item.items.forEach(function(item){\n        destination = destination + \" \" + item.orthography\n    })\n    \n    node.warn(destination)\n    \n    stops = global.get('stops')\n    var keys = Object.keys(stops);\n    for (var i = 0; i < keys.length; i++) {\n        // https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript\n        if(stops[keys[i]].name.toLowerCase().indexOf(destination)>=0) {\n            destination = stops[keys[i]]\n            break\n        }\n      \n    }\n    \n    \n} \n\nmsg.lat = destination.lat\nmsg.lon = destination.lon\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "8befece42322c5e8",
                "bb6b7fd3773dec56"
            ]
        ]
    },
    {
        "id": "8befece42322c5e8",
        "type": "debug",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "destination",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "78adf08474f4699e",
        "type": "switch",
        "z": "519fe3bfa0f9c4d6",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 320,
        "wires": [
            [],
            [
                "c533c4977909ee20"
            ]
        ]
    },
    {
        "id": "41f0e83f42cf8e94",
        "type": "debug",
        "z": "519fe3bfa0f9c4d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "12e9048d1def56fe",
        "type": "link in",
        "z": "e8f20bbce7f040f7",
        "name": "Nombre arret",
        "links": [],
        "x": 95,
        "y": 120,
        "wires": [
            [
                "f1074b4d39da6a42"
            ]
        ]
    },
    {
        "id": "2f5f5526b57ba0ad",
        "type": "link out",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1335,
        "y": 140,
        "wires": []
    },
    {
        "id": "e359737ef31d72f8",
        "type": "debug",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ee64ca445c343b3",
        "type": "http request",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "e359737ef31d72f8",
                "f9230495ef440e6a"
            ]
        ]
    },
    {
        "id": "d3b1d178ea1a5a00",
        "type": "function",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "func": "msg.url = \"https://data.mobilites-m.fr/api/routers/default/plan\"\n\npayload = \"routerId=prod&otp=undefined&mode=WALK,TRANSIT&showIntermediateStops=true&minTransferTime=60&transferPenalty=60&numItineraries=2&walkBoardCost=300&\"\n//payload += \"fromPlace=45.19078,5.71554&toPlace=45.18731,5.73714&\"\npayload += \"fromPlace=\"+global.get('depart').lat+\",\"+global.get('depart').lon+\"&toPlace=\"+msg.lat+\",\"+msg.lon+\"&\"\npayload += \"arriveBy=false&locale=fr_FR&walkSpeed=1.1112&walkReluctance=5\"\n//payload += \"time=14%20:%2006&date=2021-11-24&ui_date=mercredi%2024%20novembre%20-%2024/11/2021\"\n\nmsg.url = msg.url +\"?\"+payload\n\n//msg.payload = payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "4ee64ca445c343b3"
            ]
        ]
    },
    {
        "id": "f1074b4d39da6a42",
        "type": "function",
        "z": "e8f20bbce7f040f7",
        "name": "Extract destination",
        "func": "items_size = msg.payload.hypotheses[0].items[0].items.length\nlast_item = msg.payload.hypotheses[0].items[0].items[items_size-1]\n\n\ndestination = \"\"\nif(last_item.hasOwnProperty(\"items\") && last_item.items.length>0) {\n\n    last_item.items.forEach(function(item){\n        destination = destination + \" \" + item.orthography\n    })\n    \n    stops = global.get('stops')\n    var keys = Object.keys(stops);\n    for (var i = 0; i < keys.length; i++) {\n        // https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript\n        if(stops[keys[i]].name.toLowerCase().indexOf(destination)>=0) {\n            destination = stops[keys[i]]\n            break\n        }\n      \n    }\n    \n    \n} \n\nmsg.lat = destination.lat\nmsg.lon = destination.lon\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "de4fdadbc72bad14",
                "d3b1d178ea1a5a00"
            ]
        ]
    },
    {
        "id": "de4fdadbc72bad14",
        "type": "debug",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "destination",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9230495ef440e6a",
        "type": "function",
        "z": "e8f20bbce7f040f7",
        "name": "",
        "func": "// itinéraire 1\nlegs = msg.payload.plan.itineraries[0].legs\nnbStops = 0\n\nlegs.forEach(function(leg) {\n    if(leg.intermediateStops.length>0)\n        nbStops = nbStops + leg.intermediateStops.length + 1\n})\n\n\nmsg.tts = \"Il y a \"\nmsg.tts += nbStops\nmsg.tts += \" arrets\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "31375a592f5d2914"
            ]
        ]
    },
    {
        "id": "31375a592f5d2914",
        "type": "switch",
        "z": "e8f20bbce7f040f7",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 140,
        "wires": [
            [],
            [
                "2f5f5526b57ba0ad"
            ]
        ]
    },
    {
        "id": "195ec5dd475f464d",
        "type": "link in",
        "z": "79dedaa104b8a461",
        "name": "Direction",
        "links": [],
        "x": 75,
        "y": 220,
        "wires": [
            [
                "2edc6a9f0c5283cd"
            ]
        ]
    },
    {
        "id": "12b8d13d8aef5cc5",
        "type": "link out",
        "z": "79dedaa104b8a461",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 2395,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ae75b99b0a5481b",
        "type": "debug",
        "z": "79dedaa104b8a461",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "a3933ab4097c282d",
        "type": "http request",
        "z": "79dedaa104b8a461",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "3ae75b99b0a5481b",
                "985623ead28429bc"
            ]
        ]
    },
    {
        "id": "ec08a0244bed5038",
        "type": "function",
        "z": "79dedaa104b8a461",
        "name": "Ligne C1",
        "func": "msg.url = \"https://data.mobilites-m.fr/api/ficheHoraires/json?route=SEM:C1\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "a3933ab4097c282d"
            ]
        ]
    },
    {
        "id": "2edc6a9f0c5283cd",
        "type": "function",
        "z": "79dedaa104b8a461",
        "name": "Extract destination",
        "func": "items_size = msg.payload.hypotheses[0].items[0].items.length\nlast_item = msg.payload.hypotheses[0].items[0].items[items_size-1]\n\n\ndestination = \"\"\nif(last_item.hasOwnProperty(\"items\") && last_item.items.length>0) {\n\n    last_item.items.forEach(function(item){\n        destination = destination + \" \" + item.orthography\n    })\n    \n    //node.warn(destination)\n    stops = global.get('stops')\n    var keys = Object.keys(stops);\n    for (var i = 0; i < keys.length; i++) {\n        // https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript\n        if(stops[keys[i]].name.toLowerCase().indexOf(destination)>=0) {\n            destination = stops[keys[i]]\n            break\n        }\n      \n    }\n    \n    \n} \n\nmsg.destination = destination\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ec08a0244bed5038"
            ]
        ]
    },
    {
        "id": "985623ead28429bc",
        "type": "switch",
        "z": "79dedaa104b8a461",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 260,
        "wires": [
            [],
            [
                "4a55c7cf9a15f031"
            ]
        ]
    },
    {
        "id": "b900928051da2611",
        "type": "function",
        "z": "79dedaa104b8a461",
        "name": "",
        "func": "destination = msg.destination.name\n\nmsg.result = {}\n// valeur direction\n// 0 : arret non déservi sur les lignes\n// 1 : bonne direction\n// -1 : mauvaise direction\nmsg.result.direction = 0\nmsg.result.ligne = \"\"\n\n\n// index de l'abri Gares sur ligne C1\nindexArretDepart = 2\nstops = msg.ligneC1\n\nstops.forEach(function(stop, index,array) {\n    //node.warn(\"C1 : \" + stop.stopName + \" - \" + destination)\n    if(stop.stopName.toLowerCase().indexOf(destination.toLowerCase())>=0) {\n        msg.result.ligne = \"C1\"\n        if(index>indexArretDepart) {\n            msg.result.direction = 1\n        } else {\n            msg.result.direction = -1\n        }\n        \n        //node.warn(\"C1 : \" + msg.result)\n    }\n})\n\nif(msg.result.ligne.length===0) {\n    // index de l'abri Gares sur ligne 26\n    indexArretDepart = 1\n    stops = msg.ligne26\n    \n    stops.forEach(function(stop, index,array) {\n        //node.warn(\"26 : \" + stop.stopName + \" - \" + destination)\n        if(stop.stopName.toLowerCase().indexOf(destination.toLowerCase())>=0) {\n            msg.result.ligne = \"26\"\n            if(index>indexArretDepart) {\n                msg.result.direction = 1\n            } else {\n                msg.result.direction = -1\n            }\n            \n            //node.warn(\"26 : \" + msg.result)\n        }\n    })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 420,
        "wires": [
            [
                "02069d3b57656c12"
            ]
        ]
    },
    {
        "id": "e397509f8b848239",
        "type": "comment",
        "z": "79dedaa104b8a461",
        "name": "Configuration arret Gares en direction Maupretuis, pré de l'eau",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a55c7cf9a15f031",
        "type": "change",
        "z": "79dedaa104b8a461",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ligneC1",
                "pt": "msg",
                "to": "payload[0].arrets",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "307e768d7333c32b"
            ]
        ]
    },
    {
        "id": "307e768d7333c32b",
        "type": "function",
        "z": "79dedaa104b8a461",
        "name": "Ligne 26",
        "func": "msg.url = \"https://data.mobilites-m.fr/api/ficheHoraires/json?route=SEM:26\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "873072ca7602c884"
            ]
        ]
    },
    {
        "id": "873072ca7602c884",
        "type": "http request",
        "z": "79dedaa104b8a461",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "51f6d20a4f922fea"
            ]
        ]
    },
    {
        "id": "51f6d20a4f922fea",
        "type": "switch",
        "z": "79dedaa104b8a461",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 380,
        "wires": [
            [],
            [
                "a998f281d346f9c7"
            ]
        ]
    },
    {
        "id": "a998f281d346f9c7",
        "type": "change",
        "z": "79dedaa104b8a461",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ligne26",
                "pt": "msg",
                "to": "payload[0].arrets",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "b900928051da2611",
                "92bced877403b3f1"
            ]
        ]
    },
    {
        "id": "02069d3b57656c12",
        "type": "switch",
        "z": "79dedaa104b8a461",
        "name": "Arret sur une des lignes",
        "property": "result.ligne.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1590,
        "y": 420,
        "wires": [
            [
                "d10f9a44d0d35d55"
            ],
            [
                "12b8d13d8aef5cc5"
            ]
        ]
    },
    {
        "id": "b0f8762fd608d593",
        "type": "debug",
        "z": "79dedaa104b8a461",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb99ec072a275dc6",
        "type": "http request",
        "z": "79dedaa104b8a461",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 2050,
        "y": 260,
        "wires": [
            [
                "b0f8762fd608d593",
                "cac40694297621a6"
            ]
        ]
    },
    {
        "id": "d10f9a44d0d35d55",
        "type": "function",
        "z": "79dedaa104b8a461",
        "name": "",
        "func": "msg.url = \"https://data.mobilites-m.fr/api/routers/default/plan\"\n\npayload = \"routerId=prod&otp=undefined&mode=WALK,TRANSIT&showIntermediateStops=true&minTransferTime=60&transferPenalty=60&numItineraries=2&walkBoardCost=300&\"\n//payload += \"fromPlace=45.19078,5.71554&toPlace=45.18731,5.73714&\"\npayload += \"fromPlace=\"+global.get('depart').lat+\",\"+global.get('depart').lon+\"&toPlace=\"+msg.destination.lat+\",\"+msg.destination.lon+\"&\"\npayload += \"arriveBy=false&locale=fr_FR&walkSpeed=1.1112&walkReluctance=5\"\n//payload += \"time=14%20:%2006&date=2021-11-24&ui_date=mercredi%2024%20novembre%20-%2024/11/2021\"\n\nmsg.url = msg.url +\"?\"+payload\n\n//msg.payload = payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "eb99ec072a275dc6"
            ]
        ]
    },
    {
        "id": "cac40694297621a6",
        "type": "switch",
        "z": "79dedaa104b8a461",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 2250,
        "y": 300,
        "wires": [
            [],
            [
                "12b8d13d8aef5cc5"
            ]
        ]
    },
    {
        "id": "92bced877403b3f1",
        "type": "debug",
        "z": "79dedaa104b8a461",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "96fc961048a32770",
        "type": "comment",
        "z": "79dedaa104b8a461",
        "name": "Voir si on pourrait récupérer les arrets des lignes une fois pour toute au lancement",
        "info": "",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "5850b80836ebf364",
        "type": "link in",
        "z": "048311bebe6e223a",
        "name": "Prochain bus",
        "links": [],
        "x": 95,
        "y": 220,
        "wires": [
            [
                "9b394c422fcad405"
            ]
        ]
    },
    {
        "id": "be139021d627a0ab",
        "type": "link out",
        "z": "048311bebe6e223a",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1255,
        "y": 280,
        "wires": []
    },
    {
        "id": "78391d0a10011c77",
        "type": "debug",
        "z": "048311bebe6e223a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "b9bf3b7951ad1ce9",
        "type": "http request",
        "z": "048311bebe6e223a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "78391d0a10011c77",
                "8d29463c20f2784b"
            ]
        ]
    },
    {
        "id": "9b394c422fcad405",
        "type": "function",
        "z": "048311bebe6e223a",
        "name": "Extract destination",
        "func": "items_size = msg.payload.hypotheses[0].items[0].items.length\nlast_item = msg.payload.hypotheses[0].items[0].items[items_size-1]\n\n\ndestination = \"\"\nif(last_item.hasOwnProperty(\"items\") && last_item.items.length>0) {\n\n    last_item.items.forEach(function(item){\n        destination = destination + \" \" + item.orthography\n    })\n    \n    //node.warn(destination)\n    msg.ligne = destination.trim()\n    \n    // Attention pas propre - gestion UTC\n    msg.url = \"https://data.mobilites-m.fr/api/routers/default/index/clusters/SEM:GENGARES/stoptimes?route=SEM:\"\n    \n    if(destination.indexOf(\"C1\")>=0) {\n        msg.url = msg.url+\"C1\"\n    } else if(destination.indexOf(\"26\")>=0) {\n        msg.url = msg.url+\"26\"\n    }\n    \n    msg.headers={\n    \t\torigin: 'tpsreelGrenoble'\n    \t};    \n\n    \n} \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "da7f79263d5e3eb4",
                "b9bf3b7951ad1ce9"
            ]
        ]
    },
    {
        "id": "da7f79263d5e3eb4",
        "type": "debug",
        "z": "048311bebe6e223a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d29463c20f2784b",
        "type": "switch",
        "z": "048311bebe6e223a",
        "name": "Error ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 260,
        "wires": [
            [],
            [
                "f7cc4667edb701ad"
            ]
        ]
    },
    {
        "id": "f45f4f959573eff8",
        "type": "function",
        "z": "048311bebe6e223a",
        "name": "old",
        "func": "stop = msg.payload[0].arrets[2]\n\nstart = new Date();\nstart.setHours(00, 00, 00);\n\nnode.warn(start.toString())\n\nnode.warn(stop.trips[0])\ntime = stop.trips[0]/3600\nnode.warn(\"time \" + time)\nhour = Math.floor(time)\nnode.warn(\"hour \" + hour)\nminute = Math.floor((time - Math.floor(time))*60)\nnode.warn(\"minute \" + minute)\n\n\nend = new Date();\nend.setHours(hour, minute, 00);\n\nnode.warn(end.toString())\n\ndiff = (end - new Date())/1000/60 // en min\n\nmsg.nextbus = diff\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "6d40876bbc64027c",
        "type": "debug",
        "z": "048311bebe6e223a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "f7cc4667edb701ad",
        "type": "function",
        "z": "048311bebe6e223a",
        "name": "",
        "func": "if(msg.payload && msg.payload.length>0) {\n    \n    nextBus = []\n    tts = \"\"\n    \n    msg.payload.forEach(function(trip) {\n        //node.warn(\"stopId \" + trip.times[0].stopId + \" \" + global.get(\"depart\").stopId)\n        if(trip.times && trip.times.length>0 && trip.times[0].stopId.indexOf(global.get(\"depart\").stopId)>=0) {\n            // controle du serviceday\n            currentDay = new Date();\n            currentDay.setHours(00, 00, 00);\n            \n            //node.warn(\"currentDay \" + currentDay.getTime() + \" \" + trip.times[0].serviceDay)\n            \n            if(Number(currentDay.getTime()).toString().indexOf(trip.times[0].serviceDay)===0) {\n                next = {}\n                \n                time = trip.times[0].realtimeArrival/3600\n                //node.warn(\"time \" + time)\n                hour = Math.floor(time)\n                //node.warn(\"hour \" + hour)\n                minute = Math.floor((time - Math.floor(time))*60)\n                //node.warn(\"minute \" + minute)\n                \n                nextHour = new Date();\n                nextHour.setHours(hour, minute, 00);\n                //node.warn(\"next \" + nextHour.toString())\n                \n                delay = (nextHour - new Date())/1000 // en s\n                \n                next.time = nextHour.getTime()\n                next.lastStopName =  trip.pattern.lastStopName\n                next.delay = delay\n                \n                nextBus.push(next)\n                \n                if(Math.round(delay/60)<1) {\n                    tts = tts + \"Le prochain bus \"+msg.ligne+\" à destination de \"+next.lastStopName+\" arrivera dans moins d'une minute environ. \"\n                } else {\n                    tts = tts + \"Le prochain bus \"+msg.ligne+\" à destination de \"+next.lastStopName+\" arrivera dans environ \"+Math.round(delay/60)+\" minutes. \"\n                }\n            \n                \n                \n            } else {\n                // Pas de trajet ce jour\n            }\n            \n        } else {\n            // pas de prochain horaire\n        }\n    })   \n    \n    msg.nextBus = nextBus\n    msg.tts = tts\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "6d40876bbc64027c",
                "be139021d627a0ab"
            ]
        ]
    },
    {
        "id": "9fb1650d1c8425b3",
        "type": "comment",
        "z": "048311bebe6e223a",
        "name": "Quoi retourner si le prochain bus arrive dans plus de 20min ?",
        "info": "",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "502b97a99c9aeb75",
        "type": "comment",
        "z": "048311bebe6e223a",
        "name": "Pas de bus prévu dans l'immédiat ?",
        "info": "",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "468cdf07f1874e01",
        "type": "link in",
        "z": "6ddb5e4c206db281",
        "name": "Defibrilateur",
        "links": [],
        "x": 265,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6c9a480cc71647",
        "type": "link out",
        "z": "6ddb5e4c206db281",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 905,
        "y": 220,
        "wires": []
    },
    {
        "id": "59bb182ed1a3e8e9",
        "type": "websocket out",
        "z": "ab443a039cdf1926",
        "name": "",
        "server": "83fed008d1f691a4",
        "client": "",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "49fbadbca619f5b7",
        "type": "websocket in",
        "z": "ab443a039cdf1926",
        "name": "",
        "server": "83fed008d1f691a4",
        "client": "",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "5bb12524f3153e11"
            ]
        ]
    },
    {
        "id": "5bb12524f3153e11",
        "type": "debug",
        "z": "ab443a039cdf1926",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 460,
        "wires": []
    },
    {
        "id": "5ca2d1b0086d38a1",
        "type": "inject",
        "z": "ab443a039cdf1926",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"json\":\"test\"}",
        "payloadType": "json",
        "x": 630,
        "y": 40,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "712de1a5050d2a66",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "start",
        "func": "msg.payload={\"action\":\"start\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "749caaec1faa7187",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "startDisplay",
        "links": [
            "9d943fea897ecf6e",
            "6a13f682c9099730",
            "8d1ec7850416a9df"
        ],
        "x": 285,
        "y": 140,
        "wires": [
            [
                "712de1a5050d2a66"
            ]
        ]
    },
    {
        "id": "d431ba75f4643003",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "call",
        "func": "msg.payload={\"action\":\"call\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "e5be6c334609ae62",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "callDisplay",
        "links": [
            "854dc0096230e6a4",
            "936fad29e25585ef"
        ],
        "x": 285,
        "y": 180,
        "wires": [
            [
                "d431ba75f4643003"
            ]
        ]
    },
    {
        "id": "48cf66866fd16414",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "reset",
        "func": "msg.payload={\"action\":\"reset\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "4094d4a5689a30f6",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "resetDisplay",
        "links": [
            "854dc0096230e6a4",
            "63bf9472f419a1ec",
            "1f2f2d3a1cf469ac",
            "6d95b43953434ab8"
        ],
        "x": 285,
        "y": 220,
        "wires": [
            [
                "48cf66866fd16414"
            ]
        ]
    },
    {
        "id": "69ec2e02b0af518e",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "phraseDetected",
        "func": "let phrase=msg.payload;\nmsg.payload={\"action\":\"phraseDetected\",\"phrase\":phrase};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "8e217170ba11d68a",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "phraseDetectedDisplay",
        "links": [
            "c7765c9647000bba",
            "124a60272946421a",
            "6fedd96774fc6be3",
            "d6f8a53b2862f135",
            "4bdf019686496f77",
            "523b13a7db4ddc42",
            "6a76f882808a5b62",
            "c70a44a241d273d3"
        ],
        "x": 285,
        "y": 260,
        "wires": [
            [
                "69ec2e02b0af518e"
            ]
        ]
    },
    {
        "id": "435bca4858b726ad",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "trajetDisplay",
        "func": "let phrase=msg.payload;\nmsg.payload={\"action\":\"trajet\",\"phrase\":phrase};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 300,
        "wires": [
            [
                "59bb182ed1a3e8e9",
                "97aec2e8913f3b34"
            ]
        ]
    },
    {
        "id": "f652ca205e6eb293",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "trajetDisplay",
        "links": [
            "e9ef2f1bf03f63fc"
        ],
        "x": 285,
        "y": 300,
        "wires": [
            [
                "435bca4858b726ad"
            ]
        ]
    },
    {
        "id": "97aec2e8913f3b34",
        "type": "debug",
        "z": "ab443a039cdf1926",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "d054269b18d8cb49",
        "type": "function",
        "z": "ab443a039cdf1926",
        "name": "carto",
        "func": "let data=msg.payload;\nmsg.payload={\"action\":\"carto\",\"data\":data};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "59bb182ed1a3e8e9"
            ]
        ]
    },
    {
        "id": "dde931e26549b834",
        "type": "link in",
        "z": "ab443a039cdf1926",
        "name": "cartoDisplay",
        "links": [],
        "x": 275,
        "y": 340,
        "wires": [
            [
                "d054269b18d8cb49"
            ]
        ]
    },
    {
        "id": "904ace6426fb4207",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "1er appui",
        "func": "\nif(msg.nbAppui==1){\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "2d4bd4c39fdbb487",
                "6a13f682c9099730",
                "c3a7a1b6683add24"
            ]
        ]
    },
    {
        "id": "cb07b771aeea3b5a",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "2eme appui",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "6420379de2c54850",
                "4d7ff09cf1d5a583",
                "95bbe68b123ddba0",
                "936fad29e25585ef"
            ]
        ]
    },
    {
        "id": "2d4bd4c39fdbb487",
        "type": "delay",
        "z": "da93fe22a4429449",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "c89efb168be9046f"
            ]
        ]
    },
    {
        "id": "936fad29e25585ef",
        "type": "link out",
        "z": "da93fe22a4429449",
        "name": "",
        "mode": "link",
        "links": [
            "e5be6c334609ae62"
        ],
        "x": 825,
        "y": 180,
        "wires": []
    },
    {
        "id": "6420379de2c54850",
        "type": "link out",
        "z": "da93fe22a4429449",
        "name": "",
        "mode": "link",
        "links": [
            "1bad072cfd7a6511"
        ],
        "x": 835,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f610cf592ce2bfd",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "checkAppui",
        "func": "let payload=msg.payload;\nif(payload.includes(\"SWITCH_ON!\")){\n    let nbAppui=flow.get(\"nbAppui\");\n    msg.nbAppui=nbAppui;\n    if(nbAppui<1)\n    {\n        flow.set(\"nbAppui\",nbAppui+1);\n        msg.nbAppui+=1;\n        return [msg,];\n    }\n    if(nbAppui>=1)\n    {\n        //flow.set(\"nbAppui\",0);\n        msg.nbAppui+=1;\n        return[,msg];\n    }\n\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"nbAppui\",0);",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "904ace6426fb4207",
                "db3d1f1ce4aed729"
            ],
            [
                "cb07b771aeea3b5a",
                "db3d1f1ce4aed729"
            ]
        ]
    },
    {
        "id": "4d7ff09cf1d5a583",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "reset Appui",
        "func": "\nflow.set(\"nbAppui\",0);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c89efb168be9046f",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "reset Appui + interface",
        "func": "\n\nif(flow.get(\"nbAppui\")==1){\nflow.set(\"nbAppui\",0);\nreturn msg;\n}\nflow.set(\"nbAppui\",0);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "1f2f2d3a1cf469ac"
            ]
        ]
    },
    {
        "id": "6a13f682c9099730",
        "type": "link out",
        "z": "da93fe22a4429449",
        "name": "",
        "mode": "link",
        "links": [
            "749caaec1faa7187"
        ],
        "x": 715,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f2f2d3a1cf469ac",
        "type": "link out",
        "z": "da93fe22a4429449",
        "name": "",
        "mode": "link",
        "links": [
            "4094d4a5689a30f6"
        ],
        "x": 1175,
        "y": 120,
        "wires": []
    },
    {
        "id": "70f1a3f73b354c82",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "0996ac6a5e2379a2"
            ]
        ]
    },
    {
        "id": "22cc3ac4a74a775e",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SWING_ON!",
        "payloadType": "str",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "ee26514789f4773d",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SWING_OFF!",
        "payloadType": "str",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "389074162111dd9f",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CHEN_ON!",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "d460aa1f0b7a285f",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CHEN_OFF!",
        "payloadType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "eb2f7ed59965462a",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RESET_LED!",
        "payloadType": "str",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "c33f27fda75787a2",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "REP_OK!",
        "payloadType": "str",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "679182affaa6ad20",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "REP_KO!",
        "payloadType": "str",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "371a5b816644cda1",
        "type": "link in",
        "z": "da93fe22a4429449",
        "name": "controlLed",
        "links": [
            "dc7cbd7fdd5bbf11",
            "fef4a3da1ac9f213"
        ],
        "x": 355,
        "y": 600,
        "wires": [
            [
                "70f1a3f73b354c82"
            ]
        ]
    },
    {
        "id": "c3a7a1b6683add24",
        "type": "debug",
        "z": "da93fe22a4429449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "95bbe68b123ddba0",
        "type": "debug",
        "z": "da93fe22a4429449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac9818cd1049b77c",
        "type": "debug",
        "z": "da93fe22a4429449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "db3d1f1ce4aed729",
        "type": "debug",
        "z": "da93fe22a4429449",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "f02935d5c2b7c603",
        "type": "inject",
        "z": "da93fe22a4429449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "936fad29e25585ef"
            ]
        ]
    },
    {
        "id": "5480f42ba0908d78",
        "type": "link in",
        "z": "da93fe22a4429449",
        "name": "appuiBtn",
        "links": [
            "ca0458169651da85"
        ],
        "x": 145,
        "y": 160,
        "wires": [
            [
                "e73a26ded3d923bc"
            ]
        ]
    },
    {
        "id": "e73a26ded3d923bc",
        "type": "function",
        "z": "da93fe22a4429449",
        "name": "",
        "func": "msg.payload=\"SWITCH_ON!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "8f610cf592ce2bfd"
            ]
        ]
    },
    {
        "id": "ff72f9f584ee73c2",
        "type": "serial in",
        "z": "da93fe22a4429449",
        "name": "",
        "serial": "79fb63e954284bda",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "8f610cf592ce2bfd"
            ]
        ]
    },
    {
        "id": "0996ac6a5e2379a2",
        "type": "serial out",
        "z": "da93fe22a4429449",
        "name": "",
        "serial": "79fb63e954284bda",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "85b0c77d473e78f2",
        "type": "sqlite",
        "z": "f4d9ba972926275f",
        "mydb": "dc33db351c964072",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM routes WHERE  route_id IN (SELECT DISTINCT route_id FROM trips WHERE trip_id IN (SELECT DISTINCT trip_id FROM stop_times WHERE stop_id=$idArret))",
        "name": "liste des lignes par rapport à un arret",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "cf7769a363437b77"
            ]
        ]
    },
    {
        "id": "4c017e22eb6fcc73",
        "type": "inject",
        "z": "f4d9ba972926275f",
        "name": "lignes par rapport arret",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{    \"$idArret\": \"0893\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "requete lignes bus par rapport a un arret",
        "payloadType": "str",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "85b0c77d473e78f2"
            ]
        ]
    },
    {
        "id": "cf7769a363437b77",
        "type": "debug",
        "z": "f4d9ba972926275f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "0779c2badf227f66",
        "type": "sqlite",
        "z": "f4d9ba972926275f",
        "mydb": "dc33db351c964072",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM fare_attributes",
        "name": "obtenir prix d'un ticket",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "e475a5709e0b4f3c"
            ]
        ]
    },
    {
        "id": "e2381b33d1cc942d",
        "type": "inject",
        "z": "f4d9ba972926275f",
        "name": "prix ticket",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{  }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prix ticket",
        "payloadType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "0779c2badf227f66"
            ]
        ]
    },
    {
        "id": "e475a5709e0b4f3c",
        "type": "debug",
        "z": "f4d9ba972926275f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "218145e98722a429",
        "type": "sqlite",
        "z": "f4d9ba972926275f",
        "mydb": "dc33db351c964072",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM stops WHERE stop_id IN(SELECT DISTINCT stop_id FROM stop_times WHERE trip_id IN (SELECT trip_id FROM trips WHERE route_id=$ligne AND direction_id=$direction));",
        "name": "liste des arrets par rapport à une ligne et une direction",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "a54e452925d7992b"
            ]
        ]
    },
    {
        "id": "118fddf37f0dca01",
        "type": "inject",
        "z": "f4d9ba972926275f",
        "name": "liste des  arrets d'une ligne 26 avec choix de la direction",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{\"$ligne\":\"26\",\"$direction\":\"1\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prochains arret",
        "payloadType": "str",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "218145e98722a429"
            ]
        ]
    },
    {
        "id": "a54e452925d7992b",
        "type": "debug",
        "z": "f4d9ba972926275f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "a2fcb284400bb598",
        "type": "sqlite",
        "z": "f4d9ba972926275f",
        "mydb": "dc33db351c964072",
        "sqlquery": "prepared",
        "sql": "SELECT DISTINCT direction_id FROM trips WHERE trip_id IN (SELECT DISTINCT trip_id FROM stop_times WHERE stop_id=$idArret)",
        "name": "obtenir direction a partir de l'arret",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "66f0a7874c9bbd96"
            ]
        ]
    },
    {
        "id": "37920bd147540eeb",
        "type": "inject",
        "z": "f4d9ba972926275f",
        "name": "obtenir direction pour un abribus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{    \"$idArret\": \"0893\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "obtenir direction",
        "payloadType": "str",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "a2fcb284400bb598"
            ]
        ]
    },
    {
        "id": "66f0a7874c9bbd96",
        "type": "debug",
        "z": "f4d9ba972926275f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "3d881887e9e7f455",
        "type": "inject",
        "z": "f4d9ba972926275f",
        "name": "liste des  arrets d'une ligne C1 avec choix de la direction",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "params",
                "v": "{\"$ligne\":\"1\",\"$direction\":\"0\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "prochains arret",
        "payloadType": "str",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "218145e98722a429"
            ]
        ]
    }
]